/* Scss Document */
/*THESE ARE RESERVED FOR HEADER VARIABLES*/
$headColor: #565656;





/*THESE ARE RESERVED FOR NAVIGATION VARIABLES*/


$navColor: #C1C1C1;

$navColorActive: #FFAA15;






/*THESE ARE RESERVED FOR MAIN CONTENT VARIABLES*/
$bodyColor: #949494;










/*THESE ARE RESERVED FOR FOOTER VARIABLES*/










/*THESE ARE RESERVED FOR OTHER VARIABLES*/

