/*HEADER*/
header{
	background-color: $primaryColor;
.header{
	max-width: 75rem;
	margin: 0 auto;
	width: 100%;
}
}

/* NAVigation  */
nav.clearfix {
	background-color: $secondaryColor;
	margin: 0 auto;
	width: 100%;
	ul li a span {display: inline;}
	.navigation{
		max-width: 75rem;
		margin: 0 auto;
		background-color: $secondaryColor;
		
		
		
	}
	
	
	
	
}


/*MAIN*/
main{
	max-width: 75rem;
	margin: 0 auto;
	
	
	 /*  ------------- COLUMNS LAYOUT -------------  */


@for $i from 1 through 12 {
	$w: ($i / 12) * 100%;
	.large-#{$i} {
		width: $w;
		float: left;
	}
}
	
}/*end MAIN*/