/*-- HEADER STYLESHEET --*/
.logo {
	width: 100px;
	padding: 1em .75em;
}
	header h1{padding-bottom: .1em;}
	
	.slogan {display: inline-block;}

header h2{
	color: #fff; 
	font-family: Tahoma, Geneva, sans-serif; 
	font-size: 24px; 
	font-weight: lighter; 
	padding: 0 .25em .75em 0;
}

/*-- NAVIGATION STYLESHEET --*/
nav li {
	width: 20%; 
	background-color: #A5B5C7; 
	border-bottom: none; 
	border-right: solid 1px #445E8A;
}
li:last-child {
	border-right: none;
}


/*-- BODY STYLESHEET --*/
	.hero_medium {width: 100%;}
main img.hero_large {display: none;}
main img.hero_small {display: none;}
main img.hero_medium {display: inline;}

	img.scale {width: 50%; float: left; margin: 0 1em .25em 0;}

	
