/*  ----------------------- BODY --------------------------- */
main {max-width: 60rem; margin: 0 auto;}



/*  ----------------------- HEADER --------------------------- */
header {
	height: 130px;
	background-image: url(../images/header1600.jpg), url(../images/headerRepeat.jpg);
	background-repeat: no-repeat, repeat-x;
	h1{padding-top: 50px;}
}
 

/*  ----------------------- NAVIGATION --------------------------- */
nav {
    ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0,0,0,0.3);
    }
    ul li {width: auto;}
    ul li:last-child{border-right: 1px solid rgba(0,0,0,0.3);}
    ul li a {
        padding: .5rem 1rem;
    }
} // end nav








/*  ----------------------- MAIN --------------------------- */
main {
    figure.photo {width: 25%-$gutterdbl; float: left; }
    
    
    div.blog article {
        float: left;
        width: 33.33%-$gutterdbl;
    } // end blog
    
    div.blog article:nth-child(2n+1) { clear: none;}
    div.blog article:nth-child(3n+1) { clear: left;}
	
	div.pop {
        .title {font-size: 3.5rem;}
        .subtitle {font-size: 3rem;}
    }
    
    
} // end main