$primaryColor: #151E24;
$secondaryColor: #FBEFDA;
$fontColor: #29141F;
$bigFontColor: #ffffff;
$accent: #BCBDC2;


$defaultFont: 'Roboto', sans-serif;
$normalWeight:300;
$boldWeight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);