$primaryColor: #8E2800;
$secondaryColor: #FFF0A5;
$fontColor: #35373a;
$accent: #B64926;


$defaultFont: 'Roboto', sans-serif;
$normalWeight:300;
$boldWeight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);