
/* ------------- HEADER ------------- */
header {
	max-width: 75rem;
	margin:0 auto;
}






/*  ------------- NAV -------------  */
nav {
	max-width: 75rem;
	margin:0 auto;
	ul {
		margin-left: 2%;
		border-left: 1px solid rgba(0,0,0,0.3);
	}
	ul li {
		width: auto;
	}// end li
	ul li:last-child {border-right: 1px solid rgba(0,0,0,0.3);}
	ul li a {
		padding: .5rem 1rem;
	} // and a
} // end nav





/* ------------- MAIN ------------- */
main {
	max-width: 75rem;
	margin:0 auto;
	article.multiCol {
		column-count: 3;
		-webkit-column-count: 3; /*Chrome, Safari, Opera*/
		-moz-column-count: 3; /*Firefox*/
		}/*---end article*/
	
	figure.photoB {
		width: 50%;
	}
	
	
	
	
	
	
	
	
	
}/*-----------end main-----------*/



/* ------------- FOOTER ------------- */
footer {
	max-width: 75rem;
	margin:0 auto;
}










