$primaryColor: #703030;
$secondaryColor:#E3CDA4;
$fontColor: #2F343B;
$accent: #7E827A;

$defaultFont: 'Roboto', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
