$primaryColor: #A5A5A5; 
$secondaryColor:#ffffff;
$thirdColor: #585050;
$accent: #A02534;

$back: $primaryColor;

$menuColor: #D7443F;

$titleFont: 'Rajdhani', sans-serif;
$defaultFont: 'Open Sans', sans-serif;
$font: #333A42;

$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;
$medWeight: 500;

$gutter: 2%;
