$primaryColor: #262626; // blue
$secondaryColor:#A9A9A9; // pink
$thirdColor:#696969;

$text: #262626;

$accent: #ED600E;

$menuColor: #262626;

$defaultFont: 'Raleway', sans-serif;
$mainFont: 'Roboto', sans-serif;
$normalWeight: 400;
$boldWeight: 700;
$lightWeight: 300;

$gutter: 2%;
$gutterdbl: (2 * $gutter);