div#wrapper {
	max-width: 1140px;
	margin: 2rem auto;
	box-shadow: 0 0 10px #000000;
	background-color: #fff;
}


/*-- NAVIGATION STYLESHEET --*/

nav {
	ul {
	margin-left: $gutter;
	}
	ul li {
	width: auto; 
	}
	ul li a {
	padding: .5rem 1rem;
	}

}/*--END NAVIGATION*/

/*-- BODY STYLESHEET --*/
main {
	background-color: #fff;
	figure.photo {
		width: 25%-$gutterdbl;
		margin: .5rem $gutter; 
		float: left;
	}


}/*--END MAIN STYLES--*/

