$primColor: #6BB36D;
$secondColor: #3D673F;

$defaultFont: 'Roboto', sans-serif;
$normalWeight: 300;
$boldWeight: 500;
$primFont: #000;
$secondFont: #FFFFFF;

$bodyColor: #ffffff;

$colorActive: #fff9b8;
	
$gutter: 2%;
$gutterdbl: (2 * $gutter);
