$primaryColor: #0480b1; 
$secondaryColor:#fdd831;
$accent: #a8a8b2;
$back: #f6f6f6;

$defaultFont: 'Lato', sans-serif;
$font: #333A42;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 2%;